<%- include('partials/header.ejs') %>
<section>
  <div class="container">
    <h1 class="title">About me</h1>
    <div class="auther-img">
      <img src="/images/auther.JPG" alt="" />
    </div>
    <div class="image__text">You need something more?</div>
  </div>
</section>
<%- include('partials/footer.ejs') %>
