
    <!-- header -->
    <%- include('partials/header.ejs') %>
    <!-- main -->
 
      <section>
        <div class="container">
          <h1 class="title">Home page</h1>
          <p class="subtitle">Welcome here!</p>
          

          <div class="page__text">Feel like at home while you are here</div>
        </div>
      </section>
    </main>
    
    <!-- footer -->
    <%- include('partials/footer.ejs') %>

