<div class="waves">
  <svg
    width="100%"
    height="0%"
    id="svg"
    viewBox="0 0 1440 590"
    xmlns="http://www.w3.org/2000/svg"
    class="transition duration-300 ease-in-out delay-150"
  >
    <path
      d="M 0,600 C 0,600 0,300 0,300 C 66.46889952153111,331.511961722488 132.93779904306223,363.02392344497605 250,354 C 367.0622009569378,344.97607655502395 534.7177033492823,295.4162679425838 629,265 C 723.2822966507177,234.58373205741626 744.1913875598086,223.31100478468898 821,249 C 897.8086124401914,274.688995215311 1030.5167464114834,337.3397129186603 1143,352 C 1255.4832535885166,366.6602870813397 1347.7416267942583,333.33014354066984 1440,300 C 1440,300 1440,600 1440,600 Z"
      stroke="none"
      stroke-width="0"
      fill="#efc5ca"
      fill-opacity="1"
      class="transition-all duration-300 ease-in-out delay-150 path-0"
    ></path>
  </svg>
</div>
