.waves {
  position: absolute;
  top: 38%;
  height: fit-content;
  width: 100%;
  overflow: hidden;
  z-index: -100;
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 66.46889952153111,331.511961722488 132.93779904306223,363.02392344497605 250,354 C 367.0622009569378,344.97607655502395 534.7177033492823,295.4162679425838 629,265 C 723.2822966507177,234.58373205741626 744.1913875598086,223.31100478468898 821,249 C 897.8086124401914,274.688995215311 1030.5167464114834,337.3397129186603 1143,352 C 1255.4832535885166,366.6602870813397 1347.7416267942583,333.33014354066984 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 88.33492822966508,273.0047846889952 176.66985645933016,246.00956937799043 278,246 C 379.33014354066984,245.99043062200957 493.6555023923445,272.96650717703346 585,302 C 676.3444976076555,331.03349282296654 744.7081339712918,362.1244019138756 833,341 C 921.2918660287082,319.8755980861244 1029.511961722488,246.5358851674641 1134,231 C 1238.488038277512,215.4641148325359 1339.244019138756,257.73205741626793 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 112.01913875598083,316.96650717703346 224.03827751196167,333.933014354067 321,325 C 417.96172248803833,316.066985645933 499.8660287081341,281.23444976076553 586,263 C 672.1339712918659,244.76555023923444 762.4976076555024,243.12918660287085 846,282 C 929.5023923444976,320.87081339712915 1006.1435406698565,400.2488038277512 1104,410 C 1201.8564593301435,419.7511961722488 1320.9282296650717,359.8755980861244 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 91.50239234449762,261.77033492822966 183.00478468899524,223.54066985645932 279,206 C 374.99521531100476,188.45933014354068 475.48325358851673,191.60765550239233 579,239 C 682.5167464114833,286.39234449760767 789.0622009569379,378.0287081339713 891,376 C 992.9377990430621,373.9712918660287 1090.267942583732,278.2775119617225 1181,250 C 1271.732057416268,221.7224880382775 1355.8660287081339,260.8612440191388 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 66.46889952153111,331.511961722488 132.93779904306223,363.02392344497605 250,354 C 367.0622009569378,344.97607655502395 534.7177033492823,295.4162679425838 629,265 C 723.2822966507177,234.58373205741626 744.1913875598086,223.31100478468898 821,249 C 897.8086124401914,274.688995215311 1030.5167464114834,337.3397129186603 1143,352 C 1255.4832535885166,366.6602870813397 1347.7416267942583,333.33014354066984 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
}
